@font-face {
    font-family: 'Myfont-Exo';
    src:  url('/public/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
  }

@font-face {
    font-family: 'Myfont-Flexo';
    src:  url('/public/fonts/Flexo-Regular.ttf') format('truetype');
}


body {
    overflow-x: hidden;
}

/* Navigation bar */
.overlapping-logo {
    position: absolute;
    z-index: 10;
    top: 0;
    width:150px;
    padding-top: 20px;
}

.navbarBG{
    padding: 30px;

}

.bg-activelink {
    background-color: rgb(100, 1, 180);
    width: fit-content;
}
.marginNavbar {
    margin-left: 180px;
    padding: 4px;
}

.navbarHover:hover{
    text-decoration: underline;
}



/* Hero 2 */
.bg-hero2 {
    background-image: url('/public/hero2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Footer */
.bg-row {
    background-color: #B52323;
    color: white;
}

.img-style {
    width: 170px;
    height: 170px;
    margin: auto;
    margin-bottom: 50px;
}

.text-style {
    color: white;
    font-weight: 500;
    text-decoration-line: none;
}

.text-style:hover {
    color: yellow;
}

.line {
    border-left: 4px solid yellow;
    line-height: 45px;
    margin-right: 8px;
}

.bg-footer {
    background-color: #6423B5;
}

.input-text {
    border: 3px solid blue;
    border-radius: 4px;
}