/*Font face start*/
@font-face {
    font-family: 'Myfont-Exo';
    src: url('/public/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Myfont-Flexo';
    src: url('/public/fonts/Flexo-Regular.ttf') format('truetype');
}

/*Font face end*/

/*body start*/
body {
    overflow-x: hidden;
    max-height: 100vh;
}

/*body end*/

/* Navigation bar start*/
.overlapping-logo {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 150px;
    padding-top: 20px;
}

.navbarBG {
    padding: 30px;

}

.bg-activelink {
    background-color: rgb(100, 1, 180);
    width: fit-content;
}

.marginNavbar {
    margin-left: 180px;
    padding: 4px;
}

.navbarHover:hover {
    text-decoration: underline;
}

/* Navigation bar end*/

/*hero1 start*/
.hero1SearchButton {
    font-family: 'Myfont-Flexo';
}

.hero1Search {
    margin-top: 10px;

}

.hero1Control {
    padding: 10px;
    width: 1000px;
    margin-right: 10px;
    border-width: 3px;
    font-family: 'Myfont-Flexo';

}

.hero1Pokeball {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.containerHero {
    margin-top: 250px;
}

/*hero1 end*/

/* News start */


.newsHeader-bg {
    margin-top: 100px;
    padding: 60px;
    background-image: url('/public/hero1.png');
    background-size: cover;
}

.shadowtext {
    text-shadow: 1px 1px #1f1e1e;
}


.newsMargin {
    padding-top: 100px;
}

.pokeHoliday-border {
    border-radius: 50px;
    box-shadow: 5px 5px 15px #3b3b3b;
}

.imageStyle {
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.imageStyle:hover {
    opacity: 0.9;
}

/* News end */

/* Hero 2 start*/
.hero2img {
    width: 450px;
    height: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Hero 2 end*/

/* Footer */

.footerLogo1 {
    height: 200px;
}

.footerLogo2 {
    height: 80px;
}


.footerText {
    color: white;
    text-decoration-line: none;
}

.footerText:hover {
    color: yellow;
    text-decoration: underline;
}

.footerLine {
    border-left: 4px solid yellow;
    line-height: 45px;
    margin-right: 8px;
}

.footerPartners {
    height: 60px;
}

/* Footer end */

/*featured start*/
.lineFeatured {
    border-left: 4px solid yellow;
    line-height: 45px;
    margin-right: 8px;
}

.text-styleFeatured {
    color: white;
    font-weight: 500;
    text-decoration-line: none;
}

.footerCr {
    background-color: #6523b6;
}

.featMargin{
    margin-top: 100px;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/*featured end*/

/*about page start*/
.allBG{
    background-image: url('/public/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.BG {
    margin-top: 104px;
}

.aboutCol {
    padding-top: 135px;
}

.aboutUsHeader {
    font-family: 'Myfont-Exo';
}

.aboutHeadings {
    padding-top: 100px;
    padding-bottom: 50px;
}

.aboutUsDetails {
    font-family: 'Myfont-Flexo';
    font-size: 1.5rem;
}


.aboutCard1 {
    background-image: url('/public/card1.png');
    height: 383px;
    width: 311px;
}

.aboutCard2 {
    background-image: url('/public/card2.png');
    height: 383px;
    width: 311px;
}

.aboutCard3 {
    background-image: url('/public/card3.png');
    height: 383px;
    width: 311px;
}

.aboutCard4 {
    background-image: url('/public/card4.png');
    height: 383px;
    width: 311px;
}

.aboutCard5 {
    background-image: url('/public/card5.png');
    height: 383px;
    width: 311px;
}

.aboutCard6 {
    background-image: url('/public/card6.png');
    height: 383px;
    width: 311px;
}

.aboutCardTitle {
    font-family: 'Myfont-Exo';
    text-align: right;
}

.aboutCardText {
    font-family: 'Myfont-Flexo';
}

.aboutPartnersCol {
    height: 383px;
    width: 311px;
    border-radius: 35px;
}

.aboutNintendo {
    background-image: url('/public/nintendo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 20%;
}

.aboutGamefreak {
    background-image: url('/public/gamefreak.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 20%;
}

.aboutCreatures {
    background-image: url('/public/creatures.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 20%;
}

.aboutNiantic {
    background-image: url('/public/niantic.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 20%;
}

.bgCardHoverAbout:hover{
    transform: scale(0.95);
}

.bgCardHoverAbout{
    transition: transform 0.8s ease-in-out;
}

/*about page end*/


/*contact page start*/
.contactCol1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*contact page end*/


/*pokedex page start*/
.pokedexContainer {
    padding-top: 180px;
}

.bgCardHover{
    transition: transform 0.8s ease-in-out;
    

}

.bgCardHover:hover {
    transform: scale(1.1);
    
}

.pokedeButton{
    border-radius: 35px;
}


.bgpokedexCards{
    background-image: url('/public/cards.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
    width: 100%;
}
/*pokedex page end*/


/*pagenotfound page start*/
.pageNF {
    padding-top: 300px;
    padding-bottom: 200px;
}

/*pagenotfound page end*/
