body {
    overflow-x: hidden;
}
/* Hero 2 */
.bg-hero2 {
    background-image: url('C:\Users\Don\Desktop\Project 2\proj2\public\hero2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Footer */
.bg-row {
    background-color: #B52323;
    color: white;
}
.img-style {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 1em;
}
.text-style {
    color: white;
    font-weight: 500;
    text-decoration-line: none;
}
.text-style:hover{
    color: yellow;
}
.line {
    border-left: 4px solid yellow;
    line-height: 20px;
    margin-right: 8px;
}
.bg-footer {
    background-color: #6423B5;
}